.portfolio-block {
    padding-bottom: 60px;
    padding-top: 60px;
}

.radio {
    position: relative;
    display: inline-block;
    margin-right: 12px;
}

.radio input {
    vertical-align: middle;
    margin-top: 0px;
    margin-bottom: 1px;
    /* 前面三行代码是为了让radio单选按钮与文字对齐 */
    width: 20px;
    height: 20px;
    appearance: none;/*清楚默认样式*/
    -webkit-appearance: none;
    opacity: 0;
    outline: none;
    /* 注意不能设置为display:none*/
}

.radio label {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    /*注意层级关系，如果不把label层级设为最低，会遮挡住input而不能单选*/
    width: 20px;
    height: 20px;
    border: 1px solid #3582E9;
    border-radius: 100%;
}

.radio input:checked+label {
    background: #3582E9;
}

.radio input:checked+label::after {
    content: "";
    position: absolute;
    left: 8px;
    top: 2px;
    width: 5px;
    height: 12px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transform: rotate(45deg);
}